@font-face{
  font-family: source-code-pro-light;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url('fonts/SourceCodePro-Light.eot') format('embedded-opentype'),
    url('fonts/SourceCodePro-Light.ttf.woff2') format('woff2'),
    url('fonts/SourceCodePro-Light.otf.woff2') format('woff'),
    url('fonts/SourceCodePro-Light.otf') format('opentype'),
    url('fonts/SourceCodePro-Light.ttf') format('truetype');
}

body {
  margin: 0px;
  padding: 0px;
}

::selection {
  color: white;
  background: black;
}

::-moz-selection {
  color: white;
  background: black;
}

/* On changing background-color of #top
the background-color in engine.js have to
be changed also */
#top {
  display: inline;
  padding: 0px;
  margin: 0px;
  top: 0;
  overflow-y: scroll;
  position: absolute;
  opacity: 0.7;
}

.menu-is-open {
  width: 100%;
  height: 100vh;
  background-color: white;
}

@media all and (min-width: 400px) and (max-width: 1280px) {
  #menu-switch-button {
    width: 40px;
    font-size: 40px;
  }

  .menu {
    font-size: 17px;
  }

  .menu-is-close {
    width: 40px;
    height: 61px;
    background-color: transparent;
  }
}

@media all and (min-width: 1281px) {
  #menu-switch-button {
    width: 60px;
    font-size: 60px;
  }

  .menu {
    font-size: 30px;
  }

  .menu-is-close {
    width: 80px;
    height: 100px;
    background-color: transparent;
  }
}

#menu-switch-button {
  font-family: source-code-pro-light, 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
  display: block;
  position: relative;
  margin-left: 10px;
  padding-top: 10px;
  color: white;
}

#menu-switch-button span {
  cursor: pointer;
}

#content-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 0;
  overflow: hidden;
}

#menu-container {
  display: block;
  width: 100%;
  height: 100vh;
  position: relative;
  display:none;
}

.menu {
  font-family: source-code-pro-light, 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
  padding-left: 10px;
  color: black;
}

.menu a {
  color:black;
}

ul.menu * {
  list-style-type: none;
}

.has-list li {
  display: none;
}

.has-list:before {
  content: "+";
}

.has-no-list:before {
  content: "-";
}

.multi-comment, .single-comment {
  color: #111111;
}

.multi-comment:before {
  content: " /* ";
}
.multi-comment:after {
  content: " */";
}

.single-comment:before {
  content: " // ";
}

.menu-item {
  cursor: pointer;
}
