h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 55px;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 200;
}

p, ul, li, ol {
    font-size: 16px;
    font-family: 'Source Serif Pro', serif;
}

a {
    text-decoration: none;
    color: #49f;
}

a:visited {
    color: #999;
}

#content {
    width: 450px;
    padding: 80px;
}

ul {
    list-style: none;
}

ul li {
    margin-top: 7px;
}
